# VacationPy

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey
gmaps.configure(api_key=gkey)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities=pd.read_csv('../WeatherPy/output_data/cities.csv')
cities.head()

,City,Latitude,Longitude,Max-Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,rikitea,-23.1203,-134.9692,78.01,72,100,6.04,PF,1619495166
1,mataura,-46.1927,168.8643,46.00,75,91,5.01,NZ,1619495167
2,quelimane,-17.8786,36.8883,75.20,94,20,2.30,MZ,1619495167
3,hamilton,39.1834,-84.5333,63.00,48,75,9.22,US,1619495060
4,atuona,-9.8000,-139.0333,79.70,74,94,17.45,PF,1619495167

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [18]:
locations = cities[['Latitude', 'Longitude']].astype(float)
weight = cities['Humidity'].astype(float)
center = (35,0)

fig = gmaps.figure(center=center, zoom_level=1.4)

heat_layer = gmaps.heatmap_layer(locations, weights=weight, dissipating=False, 
                                 max_intensity=80, point_radius=2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [22]:
desirable_cities = cities.loc[(cities['Max-Temp'] > 70) &
                             (cities['Max-Temp'] < 90) &
                             (cities['Humidity'] < 30) &
                             (cities['Wind Speed'] < 10)].copy()
desirable_cities.reset_index(drop=True)

,City,Latitude,Longitude,Max-Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,bilma,18.6853,12.9164,82.35,13,0,9.57,NE,1619495048
1,bitkine,11.9801,18.2138,81.05,10,53,5.82,TD,1619495201
2,atar,20.5169,-13.0499,78.15,17,40,5.44,MR,1619495033
3,tahoua,14.8888,5.2692,85.98,19,86,9.08,NE,1619495244
4,riyadh,24.6877,46.7219,77.00,22,0,8.68,SA,1619495236
5,ginda,30.6945,78.4932,75.96,17,0,4.65,IN,1619495268
6,choix,26.7092,-108.3219,73.35,28,100,2.08,MX,1619495273
7,taoudenni,22.6783,-3.9836,85.41,15,5,7.29,ML,1619495277
8,agadez,19.7500,10.2500,81.05,13,3,5.75,NE,1619495306
9,geraldton,-28.7667,114.6000,87.80,20,20,3.44,AU,1619495326
10,gazalkent,41.5581,69.7708,75.20,29,0,4.47,UZ,1619495341
11,kidal,18.4411,1.4078,84.69,26,3,5.95,ML,1619495362
12,khash,28.2211,61.2158,76.50,21,25,1.83,IR,1619495400
13,adrar,20.5022,-10.0711,77.31,22,12,8.90,MR,1619495407
14,tessalit,20.1986,1.0114,85.41,10,31,8.93,ML,1619495429
15,goure,13.9835,10.2704,79.29,12,2,8.41,NE,1619495501

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure